@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    padding: 20px;
    background-color: #32333e;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto;
    max-width: 960px;
}

pre {
    color: #51afef;
}

blockquote {
    color: #51afef;
}

a {
    color: #0077ff;
    text-decoration: none;
}

a:hover {
    color: #00aeff;
}

h1 {
    font-size: 26px;
    color: #51afef;
    margin-bottom: 0px;
}

h2, h3, h4, h5, h6 {
    font-size: 16px;
    color: #51afef;
    margin-bottom: 0px;
}

li {
    color: #98be65;
}

p {
    padding: 0px;
    margin: 0px;
}

  .header {
    padding: 100px;
    text-align: center;
    background: center / contain no-repeat url('https://danielcatton.github.io/header-img.png');
    color: white;
    font-size: 30px;
  }

  .index-header {
    padding: 100px;
    text-align: center;
    background: center / contain no-repeat url('https://danielcatton.github.io/index.png');
    color: white;
    font-size: 30px;
  }

  .hardware-header {
    padding: 100px;
    text-align: center;
    background: center / contain no-repeat url('https://danielcatton.github.io/hardware.png');
    color: white;
    font-size: 30px;
  }

  .software-header {
    padding: 100px;
    text-align: center;
    background: center / contain no-repeat url('https://danielcatton.github.io/software.png');
    color: white;
    font-size: 30px;
  }

  .socials-header {
    padding: 100px;
    text-align: center;
    background: center / contain no-repeat url('https://danielcatton.github.io/socials.png');
    color: white;
    font-size: 30px;
  }

  .starbase-header {
    padding: 100px;
    text-align: center;
    background: center / contain no-repeat url('https://danielcatton.github.io/starbase.png');
    color: white;
    font-size: 30px;
  }

  .proton-header {
    padding: 100px;
    text-align: center;
    background: center / contain no-repeat url('https://danielcatton.github.io/proton.png');
    color: white;
    font-size: 30px;
  }